<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span>Main</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="{{url_for('home.dashboard') }}" class="">
                <div class="pull-left">
                    <i class="zmdi zmdi-home mr-20"></i>
                    <span class="right-nav-text">Accueil</span>
                </div>
                <!--<div class="pull-right"><i class="zmdi zmdi-home"></i></div>-->
                <div class="clearfix"></div>
            </a>
        </li>
        <li>
            <a class="" href="javascript:void(0);" data-toggle="collapse" data-target="#projet_dr">
                <div class="pull-left"><i class="zmdi zmdi-storage mr-20"></i><span
                        class="right-nav-text">Dashboard</span>
                </div>
                <div class="clearfix"></div>
            </a>
            <ul id="projet_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{{url_for('projet.dashboard') }}" class="">Gérer mes Projets</a>
                </li>
                <li>
                    <a href="{{url_for('projet.nouveau') }}" class="">Nouveau Projet</a>
                </li>
            </ul>
        </li>


        <li>
            <a href="javascript:void(0);" class="" data-toggle="collapse" data-target="#documentation_dr">
                <div class="pull-left">
                    <i class="zmdi zmdi-pin-help mr-20"></i>
                    <span class="right-nav-text">Documentations</span></div>
                <div class="clearfix"></div>
            </a>

            <ul id="documentation_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{{ url_for('documentation.tutoriel') }}" class="">Tutoriels</a>
                </li>
                <li>
                    <a href="{{ url_for('documentation.informations') }}" class="">A Propos de Nous</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /Left Sidebar Menu -->