{% extends "base_site.html" %}

{% block active3 %} {% endblock active3 %}

{% block content %}

<!-- Main Content -->
<div class="container-fluid">
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Administrez Vos Projets</h5>
        </div>


    </div>
    <div class="row">
        {% for currentprojet in projets %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <a href="{{url_for('projet.detailsprojet', id_Projet= currentprojet.id_Projet) }}">
                            <div class="pull-left user-img-wrap mr-15">
                                <i class=" card-user-img fa fa-tasks fa-2x" style="color:#F15D22"></i>
                            </div>
                            <div class="pull-left user-detail-wrap">
											<span class="block card-user-name">
												{{ currentprojet.nom }}
											</span>
                                <span class="block card-user-desn">
												designer
											</span>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    {{ currentprojet.description_Projet }}
                </div>
                <hr class="light-grey-hr mt-20 mb-20"/>
                <!--<div class="emp-detail pl-15 pr-15">
                    <div class="mb-5">
                        <span class="inline-block capitalize-font mr-5">Créé le </span>
                        <span class="txt-dark">12-10-2014</span>
                    </div>
                    <div>
                        <span class="inline-block capitalize-font mr-5">Progession</span>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-{{ cardclass }}" style="width: 75%;"
                                 role="progressbar">75%
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title inline-block txt-dark">Créer un nouveau Projet</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <a href="{{url_for('projet.nouveau') }}">
                        <center><i class="fa fa-plus fa-5x"></i></center>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Content -->
{% endblock content %}